{
    "presets": [
      ["env", {
        "targets": {
          "node": "current"
        }
      }]
    ],
    "plugins": [
      ["module-resolver", {
        "root": ["./src", "."]
      }],
      "transform-object-rest-spread"
    ],
    "ignore": [
      "src/**/fixtures",
      "src/**/templates"
    ]
}
