<!doctype html>
<html>
<head>
  <title>Error</title>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
  <h1>You fucked up!</h1>
  <div><%= content %></div>
</body>
</html>
