{
    "presets": [
      ["env", {
        "targets": {
          "browsers": ["> 1% in US"],
          "node": "current"
        }
      }],
      "react"
    ],
    "plugins": [
      "react-hot-loader/babel",
      ["module-resolver", {
        "root": ["./src", "."]
      }],
      "transform-object-rest-spread"
    ]
}
